.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.links {
    background-color: gray;
    color: white;
}

span:hover {
    color: lightblue;
    cursor: pointer;
}

.name {
    background-color: black;
    color: white;
    width: 200px;
    text-align: center;
}